<!-- views/register.ejs -->
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inscription</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="<%= cssFile %>" />
  </head>
  <body>
    <div class="login-container">
      <h1>S'inscrire</h1>
      <% if (error) { %>
      <p style="color: red"><%= error %></p>
      <% } %>
      <form action="/register" method="POST">
        <label for="username">Pseudo:</label>
        <input type="text" id="username" name="username" required />
        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="password" required />
        <button type="submit">S'inscrire</button>
      </form>
      <p>Déjà inscrit ? <a href="/">Se connecter ici</a></p>
    </div>
  </body>
</html>
