<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connexion</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="login-container">
      <h1>Mot de passe oublier</h1>

      <form action="/login" method="POST">
        <label for="username">Pseudo:</label>
        <input
          type="text"
          id="username"
          name="username"
          autocomplete="off"
          required
        />
        <button type="submit">Se connecter</button>
      </form>
      <p>Pas encore inscrit ? <a href="/">connection</a></p>
    </div>
  </body>
</html>
